body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.links {
    display: flex;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-text {
    display: flex;
    gap: 16px;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 30px 10%;
}

.sign-up {
    background-color: #3882F6;
    color: #f9fAF8;
    border-radius: 12px;
    border: none;
    padding: 10px 40px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-text {
    max-width: 225px;
    text-align: center;
}

em {
    font-size: 36px;
    font-weight: lighter;
}

.quote {
    font-weight: bold;
    font-size: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #e5e7eb;
}

.call-action {
    display: flex;
    justify-content: center;
    gap: 40px;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 200px 300px;
    padding: 20px 50px;
    border-radius: 12px;
}

.call-text {
    color: #F9FAF8;
}

.call-header {
    font-weight: bold;
    font-size: 25px;
}

.call-subtext {
    font-weight: lighter;
}

.call-button {
    border-style: solid;
    border-radius: 12px;
    border-color: #e5e7eb;
    background-color: #3882F6;
    color: #F9FAF8;
    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:#e5e7eb;
    padding: 50px;
}